body,html{
	background: #fff;
}
header{
	padding: 0px 16px;
	background: #F2F2F2;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 49px;
	border-bottom: 1px solid #f2f2f2;
}
#cityName{
	display: none;
}
header #jsForm{
	width: 85%;
	float: left;
}
header #jsForm input{
	width: 100%;
	border: 0;
	color: #666;
	font-size: 16px;
	line-height: 20px;
	padding-top: 13px;
	padding-bottom: 13px;
	outline: none;
	padding-left: 20px;
	background:#F2F2F2 url(../img/address_icons1.png) no-repeat left center;
	background-size: 12px 16px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
header .back{
	float: right;
	display: block;
	font-size: 16px;
	line-height: 48px;
	width: 48px;
	height: 48px;
	text-align: center;
	color: #55BA4B;
	text-decoration: none;
}
header .back:hover{
	color: #55BA4B;
	text-decoration: none;
}
.dropdown-menu{
	width: 100%;
	border: 0;
	border-radius: 0;
	left: 0px !important;
	padding: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.dropdown-menu>li{
	/*padding-left: 16px !important;*/
}
.dropdown-menu>li>a{
	padding: 4px 0px;
	padding-left: 16px;
	width: 100%;
	white-space: normal;
	color: #666;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-bottom: 1px solid #f2f2f2;
	font-size: 15px;
}
.dropdown-menu>li>a>span{
	display: block;
	width: 100%;
	padding-bottom: 6px;
	font-size: 12px;
	color: #9F9F9F !important;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	color: #666;
	background: #F2F2F2;
	border-bottom: none;
}